ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
DEPLOYER_PRIVATE_KEY=0xyour_private_key
NEXT_PUBLIC_CIPHERROLL_CONTRACT_ADDRESS=0xYourCipherRollDeployment
NEXT_PUBLIC_DEFAULT_ORG_ID=wave1-demo-org
NEXT_PUBLIC_CIPHERROLL_TARGET_CHAIN=arb-sepolia
